<phpunit bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/Common/CodeIgniter</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <const name="NAILS_COMMON_PATH" value="./" />
    </php>
</phpunit>
