<phpunit bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="PHPUNIT_NAILS_COMMON_TEST_SUITE" value="true"/>
    </php>
</phpunit>
