parameters:
    level: 0
    paths:
        - ../helpers
        - ../src
        - ../tests
    bootstrapFiles:
        - constants.php
    scanDirectories:
        - ../vendor/pocketarc/codeigniter/system/core
        - ../vendor/pocketarc/codeigniter/system/libraries
        - ../vendor/pocketarc/codeigniter/system/database
        - ../vendor/pocketarc/codeigniter/system/helpers
