@use "../base/palette";

.alert {
    border: 1px solid palette.$color-grey-lighter;
    border-left: 10px solid palette.$color-grey-lighter;
    background: palette.$color-white-darker;
    padding: 0.7rem 1rem;

    &--success {
        color: palette.$color-success-text;
        border-color: palette.$color-success-border;
        background: palette.$color-success-background;
    }

    &--warning {
        color: palette.$color-warning-text;
        border-color: palette.$color-warning-border;
        background: palette.$color-warning-background;
    }

    &--danger {
        color: palette.$color-danger-text;
        border-color: palette.$color-danger-border;
        background: palette.$color-danger-background;
    }

    &--info {
        color: palette.$color-info-text;
        border-color: palette.$color-info-border;
        background: palette.$color-info-background;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }
}
