.form {
    &__row {
        display: flex;

        .form__group--half {
            width: 50%;

            &:nth-child(odd) {
                margin-right: 0.5rem;
            }

            &:nth-child(event) {
                margin-left: 0.5rem;
            }
        }
    }

    &__group {
        display: block;
        margin-bottom: 1.5rem;

        .input,
        input[type=text],
        input[type=password],
        input[type=tel],
        input[type=email],
        input[type=number] {
            display: block;
            width: 100%;
            padding: 0.5rem;
            box-sizing: border-box;
            margin-top: 0.5rem;
            font-size: 1rem;
            border: 1px solid $color-grey;
        }

        input[type=radio],
        input[type=checkbox] {
            display: inline-block;
            margin-right: 0.5rem;
        }

        &--checkbox,
        &--radio {
            label {
                cursor: pointer;
            }
        }

        &.has-error {
            .input,
            input {
                border: 1px solid $color-danger-border;
                background: lighten($color-danger-border, 42.5%);
            }
        }

        .form__help,
        .form__error {
            @extend .alert;
            font-size: 0.8rem;
            padding: 0.2rem 0.5rem;
            margin: 0;
            margin-top: -1px;

            &:empty {
                display: none;
            }
        }

        .form__error {
            @extend .alert--danger;
        }

        .form__help {
            @extend .alert--info;
        }
    }
}
label.form__group--checkbox,
label.form__group--radio {
    cursor: pointer;
}
