.panel {
    border: 1px solid $color-grey;
    box-shadow: 0 1px 2px $color-grey-lightest;
    margin-bottom: 1.5rem;
    background: $color-white;

    &__header,
    &__body {
        padding: 1.5rem;
        margin: 0;
    }

    &__header {
        background: $color-grey-lightest;
        border-bottom: 1px solid $color-grey-lighter;
    }

    &__body {
        > *:last-child {
            margin-bottom: 0;
        }
    }
}
