.group-cdn.browse
{
	th.id,
	td.id,
	th.thumbnail,
	td.thumbnail,
	th.actions,
	td.actions
	{
		text-align:center;
	}

	td.thumbnail
	{
		img
		{
			border:1px solid #CCC;
			padding:3px;
			.rounded(3px);
		}
	}

	th.bucket,
	th.datetime,
	th.filesize
	{
	min-width:100px;
	}
	th.actions
	{
		min-width:130px;
	}
}