.group-cms.overview
{
	table
	{
		.title
		{
			.title
			{
				
			}
			.url
			{
				display:block;
				font-size:0.8em;
			}
			.no-data
			{
				color:#ccc;
			}
		}
	}
}

// --------------------------------------------------------------------------

//	Generic CMS
.group-cms
{
}

// --------------------------------------------------------------------------


//	Generic blocks
.group-cms.blocks
{
}


// --------------------------------------------------------------------------


//	Blocks overview
.group-cms.blocks.overview
{
	.search
	{
		.search-text
		{
			margin-bottom:0;
		}
	}
	
	table
	{
		th.title,
		td.title
		{
			
		}
		
		th.default,
		td.default
		{
			white-space: nowrap;
			overflow: hidden;
			text-overflow:ellipsis;
			max-width:225px;
		}
		
		th.translations,
		td.translations
		{
			max-width:305px;
		}
		
		td.translations
		{
			ul
			{
				list-style-type: none;
				padding:0;
				margin:0;
				max-width:350px;
				
				li
				{
					border:1px solid #CCC;
					margin-bottom:3px;
					.rounded(4px);
					background:#FFF;
					white-space: nowrap;
					overflow: hidden;
					text-overflow:ellipsis;
					max-width:100%;
					
					.lang,
					.value
					{

					}
					
					.lang
					{
						display:inline-block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow:ellipsis;
						
						width:75px;
						background:#EEE;
						padding:3px 10px 5px 10px;
						border-right:1px solid #DDD;
						margin-right:7px;
					}
				}
				
				li:last-of-type
				{
					margin-bottom: 0px;
				}
			}
		}
		
		th.actions,
		td.actions
		{
			text-align:center;
		}
	}
	
	.new-block
	{
		margin-top:20px;
	}
}

//	Blocks edit
.group-cms.blocks.edit
{
	.details
	{
		background: #f5f5f5;
		padding: 10px;
		.nifty-drop-shadow();
		
		p
		{
			margin-bottom:2px;
			
			strong
			{
				float:left;
				display:block;
				width:85px;
				border-right:1px dotted #CCC;
				margin-right:7px;
			}
		}
	}
	
	.translation
	{
		legend
		{
			a
			{
				position:absolute;
				right:-25px;
				top:6px;
				display:block;
				width:16px;
				height:16px;
				overflow:hidden;
				text-indent: -999em;
				background:url(../img/buttons/sprite-remove-add.png);
				background-position-y: bottom;
			}
			a:hover
			{
				background-position-y: center;
			}
			a:active
			{
				background-position-y: top;
			}
		}
		
		.system-alert.error
		{
			display:none;
			margin-bottom:10px;
		}
		
		.system-alert.notice
		{
			margin-top:10px;
		}
		
		textarea
		{
			width:99%;
		}
		
		.revisions
		{
			font-size:0.8em;
			border:1px solid #EFEFEF;
			margin-top:10px;
			padding:5px;
			.rounded(4px);
			
			.summary
			{
				margin-bottom:0px;
			}
			
			.revision
			{
				display:none;
				margin-top:5px;
				
				.revision-content
				{
					display:block;
					text-align:left;
					padding:3px 10px;
					background:#FCFCFC;
					border:1px solid #CCC;
				}
			}
			
			.revision:last-of-type
			{
				margin-bottom:0px;
			}
		}
		.revisions.show
		{
			.revision
			{
				display:block;
			}
		}
	}
	
	.add-translation
	{
		margin-top:10px;
	}
}

//	Blocks create
.group-cms.blocks.create
{
	code
	{
		border:1px solid #EFEFEF;
		background:#F8F8F8;
		padding:5px;
	}
	
	textarea
	{
		width:99%;
		height:150px;
	}
	
	#default-value,
	ckeditor-warn
	{
		display:none;
	}
}

// --------------------------------------------------------------------------


//	Generic Pages
.group-cms.pages
{
}


// --------------------------------------------------------------------------


//	Pages overview
.group-cms.pages.overview
{
}

//	Pages edit
.group-cms.pages.edit
{
	.layout
	{
		li
		{
			display:inline-block;
			border:1px solid;
			height:64px;
			line-height:64px;
			border:1px solid #CCC;
			background:#EFEFEF url(../img/modules/cms/layout-sprite.png) no-repeat top left;
			margin:0;
			margin-right:10px;
			margin-bottom:5px;
			.rounded(4px);

			label
			{
				padding-left:70px;
				padding-right:5px;
				cursor: pointer;
			}
		}

		li.hero-sidebar-right
		{
			background-position-y:-64px;
		}
		li.hero-full-width
		{
			background-position-y:-128px;
		}
		li.no-hero-sidebar-left
		{
			background-position-y:-192px;
		}
		li.no-hero-sidebar-right
		{
			background-position-y:-256px;
		}
		li.no-hero-full-width
		{
			background-position-y:-320px;
		}

		#cms-page-edit-sidebar-width
		{
			margin-top:1em;

			select
			{
				display:inline-block;
				margin-left:10px;
			}
		}
	}

	.editor
	{
		position:relative;
		
		.widgets
		{
			float:left;
			width:15%;
			height:100%;
			padding:0;
			margin:0;
			
			.widget
			{
				list-style-type: none;
				padding:10px;
				margin-right:5px;
				cursor:move;
				border:1px solid #CCC;
				background:#EFEFEF;
				.rounded(3px);
				text-indent:25px;
				background-image:url(../img/modules/cms/widget-generic.png);
				background-repeat:no-repeat;
				background-position: 10px 10px;
				overflow: hidden;
				white-space: nowrap;
			}
			
			.widget:hover
			{
				background-color:#E6E6E6;
			}
			
			.widget.Widget_richtext
			{
				background-image:url(../img/modules/cms/new-message-icon.png);
			}
			
			.widget.Widget_html
			{
				background-image:url(../img/modules/cms/code-icon.png);
				background-position: 10px 13px;
			}
			
			.widget.Widget_slider
			{
				background-image:url(../img/modules/cms/image-icon.png);
			}
		}
		
		.holders
		{
			float:left;
			width:84%;
			height:100%;
			padding:0;
			margin:0;
			border-left:1px solid #CCC;
			border:1px dotted #EFEFEF;
			
			.empty
			{
				display:none;
				padding:100px;
				margin:5px;
				text-align:center;
				border:1px dashed #CCC;
				font-size:1.3em;
				color:#999;
			}
			
			.holder
			{
				list-style-type: none;
				padding:5px;
				border:1px dashed #CCC;
				margin:5px 5px 10px 5px;
				position: relative;
				background:#FFF;
				
				.handle
				{
					padding:10px;
					background:#EEE;
					border-bottom:1px dotted #CCC;
					position:absolute;
					left:0px;
					top:0px;
					right:0px;
					padding:5px;
					padding-left:35px;
					padding-bottom:0px;
					cursor:move;
					background-image:url(../img/modules/cms/list-icon3.png);
					background-position: 10px 13px;
					background-repeat: no-repeat;
					
					small
					{
						display:block;
						font-weight:normal;
						position: relative;
						top:-3px;
					}
					
					a.close
					{
						position:absolute;
						right:10px;
						top:10px;
						display:block;
						width:16px;
						height:16px;
						overflow:hidden;
						text-indent: -999em;
						background:url(../img/buttons/sprite-remove-add.png);
						background-position-y: bottom;
					}
					a.close:hover
					{
						background-position-y: center;
					}
					a.close:active
					{
						background-position-y: top;
					}
				}
				
				.editor-content
				{
					float:none;
					margin-top:43px;
					
					.system-alert
					{
						margin-bottom:7px;
					}
					
					.coming-soon
					{
						padding:50px;
						text-align:center;
						
						strong
						{
							display:block;
							margin-bottom:20px;
							font-size:1.2em;
						}
					}
				}
			}
			
			.holder.target
			{
				height:150px;
				background:#FAFAFA;
			}
			
			.holder.Widget_richtext,
			.holder.Widget_html
			{
				textarea
				{
					width:100%;
					height:100%;
					padding:0;
					margin:0;
					border:0;
				}
				textarea:focus
				{
					outline:none;
					-webkit-box-shadow:none;
					-moz-box-shadow:none;
					box-shadow: none;
				}
			}
			
			.holder.Widget_image
			{
				label
				{
					margin-bottom:15px;

					.label
					{
						float:left;
						width:130px;
						font-weight:bold;
					}
					input,
					select
					{
						margin:0px;
						margin-right:10px;
						display:inline-block;
					}

					.awesome
					{
						top:1px;
					}
					.awesome:active
					{
						top:2px;
					}
				}
			}
		}
		.holders.empty
		{
			.empty
			{
				display:block;
			}
		}
	}
}