//	Generic
.group-shop
{
	//	Common across all sections
	&.inventory,
	&.vouchers,
	&.orders
	{
		&.browse
		{
			.search
			{
				hr
				{
					margin-top:5px;
					margin-bottom:10px;
				}

				label
				{
					display:inline-block;
					border:1px solid #CCC;
					background:#F9F9F9;
					padding:4px;
					margin-left:5px;
					.rounded(3px);
					font-weight:normal;
					cursor:pointer;

					input
					{
						margin-right:5px;
					}
				}
			}

			table
			{
				margin-bottom:1em;
			}
		}
	}

	// --------------------------------------------------------------------------

	//	Inventory
	&.inventory
	{
		table
		{
			th.id,
			td.id,
			th.image,
			td.image,
			th.status,
			td.status,
			th.tax-rate,
			td.tax-rate,
			th.price,
			td.price,
			th.sold-available,
			td.sold-available,
			th.on-sale,
			td.on-sale,
			th.actions,
			td.actions
			{
				text-align:center;
			}

			th.type,
			td.type,
			th.tax-rate,
			td.tax-rate,
			th.price,
			td.price,
			th.actions,
			td.actions
			{
				min-width:100px;
			}

			th.image,
			td.image
			{
				width:75px;

				img
				{
					border:1px solid #EFEFEF;
					padding:3px;
					background:#FFF;
					.rounded(3px);
					.nifty-drop-shadow();
				}
			}

			td.sold-available
			{
				.infinity
				{
					font-size:1.5em;
					top:2px;
					position:relative;
				}
			}

			td.status
			{
				span
				{
					font-size: 1.5em;
				}
			}
		}

		&.edit
		{
			ul.tabs
			{
				li.action
				{
					position:absolute;
					right:10px;
					bottom:-1px;
					margin-bottom:0px;
					border:1px solid #C9C9C9;
					background:#EFEFEF;
					-webkit-border-top-right-radius: 3px;
					-webkit-border-bottom-right-radius: 0;
					-webkit-border-bottom-left-radius: 0;
					-webkit-border-top-left-radius: 3px;
					-moz-border-radius-topright: 3px;
					-moz-border-radius-bottomright: 0;
					-moz-border-radius-bottomleft: 0;
					-moz-border-radius-topleft: 3px;
					border-top-right-radius: 3px;
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
					border-top-left-radius: 3px;

					a
					{
						margin:5px;
						width:16px;
						height:16px;
						display:block;
						text-indent:-999em;
						background:url(../img/system-alerts/close.png) no-repeat;
					}
				}
			}

			.tab
			{
				&.page
				{
					table
					{
						margin-bottom:1em;
					}

					&.variations
					{
						.variation
						{
							position:relative;

							.not-applicable
							{
								position:absolute;
								left:0px;
								top:0px;
								right:0px;
								bottom:0px;
								background:rgba(255,255,255,0.9);
								z-index:100;
								text-align:center;
								padding-top:75px;
								font-size:1.2em;
								border: 1px solid #CECECE;
								.rounded(3px);
								display:none;

								strong
								{
									display:block;
									margin-bottom:1em;
								}
							}

							table.pricing-options
							{
								th.currency,
								td.currency
								{
									text-align: center;
									width:50px;
								}

								td.price,
								td.price-sale
								{
									position:relative;
									text-align:left;

									input
									{
										width:100%;
										box-sizing: border-box;
									}

									span.error
									{
										border: 1px solid #B52130;
										padding: 2px 7px;
										-webkit-border-radius: 3px;
										-moz-border-radius: 3px;
										border-radius: 3px;
										background: #B52130;
										color: #FFF;
										margin-top: 4px;
										display:inline-block;
									}
								}
							}

							table.shipping-options
							{
								th.courier-method,
								td.courier-method,
								th.price,
								td.price,
								th.price-additional,
								td.price-additional,
								{
									width:33%;
									text-align:left;

									input
									{
										width:100%;
										box-sizing: border-box;
									}

									.nails-prefixed
									{
										width:100% !important;
										margin-bottom:3px;

										&:last-of-type
										{
											margin-bottom:0;
										}
									}
								}

								th.delete,
								td.delete
								{
									a.delete-shipping
									{
										display:block;
										width:16px;
										height:16px;
										background:url(../img/system-alerts/close.png) no-repeat;
										text-indent: -999em;
									}
								}

								tr.empty
								{
									display: none;
								}

								&.empty
								{
									tr.empty
									{
										display: table-row;
									}
								}
							}

							&.not-applicable
							{
								.not-applicable
								{
									display:block;
								}
							}
						}

						ul.gallery-associations
						{
							li
							{
								margin:0;

								&.image
								{
									display:inline-block;
									width:32px;
									height:32px;
									border:1px solid #ccc;
									.rounded(3px);
									.opacity(0.3);
									background:url(../img/loader/20px-TRANS.gif) center no-repeat;
									cursor:pointer;
									margin-right:3px;
									overflow:hidden;

									img
									{

									}

									input
									{
										display:none;
									}
								}

								&.selected
								{
									.opacity(1);
								}

								&.empty
								{
									display: none;
								}

								&.actions
								{
									display:block;
									border-top:1px solid #eee;
									margin-top:5px;
									padding-top:15px;
								}
							}

							&.empty
							{
								li
								{
									&.empty
									{
										display:block;
										color:#CCC;
										padding:20px 0px;
									}
									&.actions
									{
										display:none;
									}
								}
							}
						}

						div.add-variation-button
						{
							&.enabled
							{
								p.enabled
								{
									display:block;
									margin-bottom:0;
								}

								p.disabled
								{
									display:none;
								}
							}

							&.disabled
							{
								p.enabled
								{
									display:none;
								}

								p.disabled
								{
									display:block;
									font-style:italic;
									color:#555;

									a
									{
										font-style:normal;
									}
								}
							}
						}
					}

					&.gallery
					{
						small
						{
							display:block;
						}

						#gallery-items
						{
							margin-top:1em;
							border:1px dashed #EFEFEF;
							padding:5px;
							padding-bottom:0;
							line-height:1em;
							min-height:107px;
							overflow:auto;

							li.empty
							{
								display:none !important;
							}

							.gallery-item
							{
								cursor:move;
								float:left;
								display:block;
								width:100px;
								height:100px;
								margin:0;
								margin-right:5px;
								margin-bottom:5px;
								border:1px solid #ccc;
								background:#EFEFEF url(../img/jquery.uploadify/upload-icon.png) center no-repeat;
								position:relative;
								padding:0;
								.rounded(3px);
								overflow:hidden;
								box-sizing:border-box;

								a.remove,
								a.delete
								{
									display:block;
									position:absolute;
									width:20px;
									height:20px;
									right:2px;
									top:2px;
									background: rgba(219, 218, 220,0.8);
									z-index:1;
									.rounded(2px);
									cursor:pointer;

									&:hover
									{
										background:rgba(219, 218, 220,0.8) url(../img/jquery.uploadify/stop-icon2.png) center no-repeat;
									}
								}

								.progress
								{
									background:#888;
									position:absolute;
									bottom:0px;
									left:0px;
									right:0px;
									z-index:0;
									.drop-shadow(0, 0, 5px, 0.5);
									.transition(0.5s);

									background-size: 30px 30px;
									background-image: linear-gradient(
										45deg,
										rgba(0,0,0,0.1) 25%,
										transparent     25%,
										transparent     50%,
										rgba(0,0,0,0.1) 50%,
										rgba(0,0,0,0.1) 75%,
										transparent     75%,
										transparent
									);
									-webkit-animation: barberpole 0.5s linear infinite;
									-moz-animation: barberpole 0.5s linear infinite;
									animation: barberpole 0.5s linear infinite;
								}

								.data-cancel
								{
									position: absolute;
									top: 0px;
									bottom: 0px;
									left: 0px;
									right: 0px;
									text-align: center;
									line-height: 102px;
									background: #EEE;
									font-weight: bold;
									color: #777;
									z-index: 1;
									.opacity(0.9);
									display:none;
									text-transform: uppercase;
								}

								.crunching
								{
									position: absolute;
									top: 0px;
									bottom: 0px;
									left: 0px;
									right: 0px;
									background: rgba(255, 255, 255, 0.9) url(../img/loader/60PX-TRANS.gif) center no-repeat;
									display:none;
								}

								&.placeholder
								{
									border:1px dashed #ccc;
									background:#FEFEFE;
								}

								&.crunching
								{
									.crunching
									{
										display:block;
									}
								}

								&.error
								{
									background:#FFEBE8;
									border-color:#CA0300;

									p
									{
										text-align:center;
										margin:5px;
										color:#CA0300;
										font-size:0.9em;

										&.filename
										{
											font-weight: bold;
											text-overflow: ellipsis;
											white-space: nowrap;
											width: 90px;
											overflow: hidden;
										}
									}
								}
							}

							&:after
							{
								content: '\0020';
								display: block;
								overflow: hidden;
								visibility: hidden;
								width: 0;
								height: 0;
								clear:both;
							}

							&.empty
							{
								position:relative;

								li.empty
								{
									display:block !important;
									position:absolute;
									top:0px;
									left:0px;
									bottom:0px;
									right:0px;
									text-align:center;
									font-size:2em;
									font-weight: bold;
									color:#CCC;
									padding-top:30px;
									line-height:1.25em;
								}
							}
						}
					}

					&.attributes
					{
						table
						{
							th.attribute,
							td.attribute,
							th.value,
							td.value
							{
								width:49%;

								input
								{
									width:100%;
									box-sizing:border-box;
								}
							}
							th.delete,
							td.delete
							{
								width:2%;

								a.delete
								{
									display:block;
									width:16px;
									height:16px;
									background:url(../img/system-alerts/close.png) no-repeat;
									text-indent: -999em;
								}
							}
						}
					}
				}
			}
		}

		&.import
		{
			.import-field
			{
				border:1px solid #ccc;
				padding:5px;
				.rounded(3px);

				input
				{
					border:0;
				}
			}
		}
	}

	// --------------------------------------------------------------------------

	//	Orders
	&.orders
	{
		&.browse
		{
			table
			{
				th.id,
				td.id,
				th.ref,
				td.ref,
				th.placed,
				td.placed,
				th.value,
				td.value,
				th.status,
				td.status,
				th.fulfilment,
				td.fulfilment,
				th.actions,
				td.actions
				{
					text-align:center;
				}

				th.id,
				td.id
				{
					width:60px;
				}

				th.ref,
				td.ref
				{
					width:120px;
				}

				th.placed,
				td.placed
				{
					width:60px;
				}

				td.customer
				{
					position:relative;
					min-height:45px;

					img
					{
						&.profile-img
						{
							position:absolute;
							left:9px;
							top:7px;
							width:35px;
							height:35px;
							background:#CCC url(../img/loader-CCCCCC.gif) center no-repeat;
							.nifty-drop-shadow();
							border:1px solid #ccc;
							.rounded(3px);
							margin-top:2px;
						}

						&.verified
						{
							margin-left:5px;
							width:10px;
							height:10px;
							position:relative;
							top:2px;
							.drop-shadow( 0, 0, 0, 0 );
						}
					}

					div
					{
						margin-left:45px;

						small
						{
							display:block;
						}
					}
				}

				th.value,
				td.value,
				th.status,
				td.status,
				th.fulfilment,
				td.fulfilment
				{
					width:60px;
				}

				td.status
				{
					color:#BBB;

					&.PAID
					{
						font-weight:bold;
						color:green;
					}

					&.UNPAID
					{
						font-weight:bold;
						color:red;
					}
				}

				td.fulfilment
				{
					color:#ccc;
					font-weight:bold;

					&.yes
					{
						color:green;
					}

					&.no
					{
						color:red;
						background-image:url(../img/admin/icons/warning.png) !important;
						background-repeat:no-repeat !important;
						background-position: 10px center !important;
					}
				}

				th.actions,
				td.actions
				{
					width:50px;
				}
			}
		}

		&.view
		{
			table
			{
				td.details
				{
					position:relative;

					img.ribbon
					{
						position:absolute;
						left:-4px;
						top:-2px;
						width:35px;
						height:35px;
					}
				}

				th.quantity,
				td.quantity,
				th.price,
				td.price,
				th.processed,
				td.processed,
				th.actions,
				td.actions
				{
					text-align:center;
				}

				th.quantity,
				td.quantity,
				th.processed,
				td.processed
				{
					width:50px;
				}

				td.processed
				{
					&.yes
					{
						font-weight:bold;
						color:green;
					}

					&.no
					{
						font-weight:bold;
						color:red;
						background-image:url(../img/admin/icons/warning.png) !important;
						background-repeat:no-repeat !important;
						background-position: 10px center !important;
					}
				}
			}
		}
	}

	// --------------------------------------------------------------------------

	//	Vouchers
	&.vouchers
	{
		&.browse
		{
			table
			{
				th.id,
				td.id,
				th.code,
				td.code,
				th.valid_from,
				td.valid_from,
				th.expires,
				td.expires,
				th.value,
				td.value,
				th.uses,
				td.uses,
				th.actions,
				td.actions
				{
					text-align:center;
				}

				th.id,
				td.id
				{
					width:40px;
				}

				th.code,
				td.code
				{
					width:120px;
				}

				th.value,
				td.value
				{
					width:60px;
				}

				th.valid_from,
				td.valid_from,
				th.expires,
				td.expires
				{
					width:80px;
				}

				th.actions,
				td.actions
				{
					width:65px;
				}

				td
				{
					span.blank
					{
						color:#CCC;
					}
				}
			}
		}

		&.create
		{

		}

		&.edit
		{

		}
	}

	// --------------------------------------------------------------------------

	//	Managers
	&.manage
	{
		table
		{
			th,
			td
			{
				vertical-align: middle;

				.thumbnail
				{
					float:left;
					width:40px;
				}

				.content
				{
					margin-left:55px;
				}
			}

			th.label,
			td.label
			{
				img
				{
					float:left;
					width:32px;
					height:32px;
					padding:3px;
					.rounded(3px);
					border:1px solid #DDD;
					background:#FFF url(../img/loader/10px-TRANS.gif) center no-repeat;
				}
			}
			th.ipn,
			td.ipn
			{
				width:100px;
				text-align:center;
			}

			th.physical,
			td.physical,
			th.max-po,
			td.max-po,
			th.max-v,
			td.max-v,
			th.active,
			td.active,
			th.count,
			td.count
			{
				width:50px;
				text-align:center;
			}

			td.active
			{
				span
				{
					font-size:1.5em;
				}
			}

			th.modified,
			td.datetime
			{
				width:100px;
			}

			th.actions,
			td.actions
			{
				width:95px;
				text-align:center;
			}
		}

		&.index
		{
			ul
			{
				li
				{
					display:inline-block;
					margin-right:10px;
					margin-bottom:10px;

					a
					{
						.nifty-drop-shadow();
						width:100px;
						text-align:center;
						.rounded(3px);
						display:block;
						border:1px solid #CCC;
						background:#EFEFEF;
						padding:25px 25px;
					}
				}
			}
		}
	}

	// --------------------------------------------------------------------------

	//	Settings
	&.settings
	{
		table
		{
			td.order
			{
				width:25px;
				text-align:center;
				font-size:2em;
				cursor: url(https://mail.google.com/mail/images/2/openhand.cur), none !important;
			}

			th.enabled,
			td.enabled
			{
				width:150px;
				text-align:center;
			}

			th.configure,
			td.configure
			{
				width:80px;
				text-align:center;
			}

			td.enabled
			{
				.toggle
				{
					text-align:center;
					display:inline-block;
				}

				input[type=checkbox]
				{
					display:none;
				}
			}
		}
		ul.skins
		{
			li.skin
			{
				.opacity(0.5);
				border:1px solid #CCC;
				display:block;
				float:left;
				box-sizing:border-box;
				margin-right:1em;
				margin-bottom:1em;
				padding:10px;
				background:#FFF;
				width:250px;
				height:200px;
				.rounded(3px);
				.nifty-drop-shadow();
				cursor:pointer;

				.icon
				{
					img
					{
						width: 230px;
						height: 150px;
						border-bottom:1px solid #CCC;
						margin-bottom:5px;
					}
				}

				.name
				{
					font-weight:bold;
					text-align:center;

					span
					{
						display:none;
					}
				}

				input
				{
					display:none;
				}

				&:hover,
				&.selected
				{
					.opacity(1)
				}

				&.selected
				{
					.name
					{
						span
						{
							color:@green;
							margin-left: 0.5em;
							display:inline-block;
						}
					}
				}
			}
		}
	}
}

// --------------------------------------------------------------------------

#help-variation-examples
{
	width:800px;

	h1
	{
		font-size:1.5em;
		border-bottom: 1px solid #CCC;
	}
	h2
	{
		font-size:1.2em;
		border-bottom: 1px dashed #CCC;
	}
	h3
	{
		font-size:1.1em;
		margin-bottom:0;
	}
	ul
	{
		padding:10px;
		border:1px solid #CCC;
		.rounded(3px);
		margin-bottom:1em;

		li.variant
		{
			list-style-type: disc;
			padding-left:1.5em;
		}
		li:last-of-type
		{
			margin-bottom:0;
		}
	}
}


// --------------------------------------------------------------------------


@-webkit-keyframes barberpole
{
	from { background-position: 0 0; }
	to   { background-position: 60px 30px; }
}
@-moz-keyframes barberpole
{
	from { background-position: 0 0; }
	to   { background-position: 60px 30px; }
}
@keyframes barberpole {
	from { background-position: 0 0; }
	to   { background-position: 60px 30px; }
}