/* --------------------------------------------------------------

	VARIABLES

	Variables / constants used throughout the stylesheets

-------------------------------------------------------------- */

@blue: #00B3DF;
@green: #84A717;
@orange: #FD6925;
@red: #d10000;
@black: #333333;
@grey: #888;

//	contextual colours
@neutral:#EFEFEF;
@neutral_colour:#444444;
@neutral_border:#CCCCCC;

@error:#FFEBE8;
@error_colour:#CC0000;
@error_border:#CC0000;

@success:#E0F2CB;
@success_colour:#6DA827;
@success_border:#CCEBAC;

@message:#FFFFE0;
@message_colour:#000000;
@message_border:#E6DB55;

@notice:#E4EDF5;
@notice_colour:#2E74B2;
@notice_border:#D8E1E9;